@use '../variaveis';

.botao {
    background-color: variaveis.$blue4;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}