@use '../variaveis';

.botao {
    background-color: variaveis.$blue4;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    border-radius: 15px;
    text-transform: uppercase;
    border: solid 1px #fff;
}