@use 'variaveis';

.evento {

    &--hero {
        background-image: linear-gradient(variaveis.$blue1, variaveis.$blue2);
    }

    &--baloes {
        background-image: linear-gradient(variaveis.$blue2, variaveis.$blue3);
    }

    &--local {
        background-color: variaveis.$blue3;
    }

    &--contato {
        background-color: variaveis.$red;

        #whatsapp_numero {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 50px;
                margin-right: 10px
            }
        }
    }

    &__detalhes {

        text-align: center;
        padding: 20px 10px;
        
        &__titulo {
            font-size: 20px;
        }
        
        &__descricao {
            margin: 10px 0;
            color: #fff;
            line-height: 24px;
        }
    } 
    
    &__imagem {
        margin: 0 auto;
        width: 100%;
    }
}
